src/tests/xml/ServerCredentials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="credential" type="credentialType">
    <xs:annotation>
      <xs:documentation>~ Copyright (c) 2021.
  ~ @author Muhammad Shams - mshamsj@gmail.com
  ~ @version 1.0
  ~</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="credentialType">
    <xs:sequence>
      <xs:element type="xs:string" name="username"/>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:string" name="vault"/>
      <xs:element type="xs:string" name="serverURL"/>
      <xs:element type="xs:string" name="role"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>